.Icon {
  font-size: 3.5em;
  user-select: none;
  -webkit-user-select: none;
}

.Container {
  font-family: "Roboto", sans-serif;
  padding: 1em;
  border-radius: 18px;
  border: 1px solid rgb(230, 230, 230);
  background-color: white;
  box-shadow:
    1px 1px 15px rgb(230, 230, 230),
    -1px 1px 15px rgb(230, 230, 230);
}

.Navbar {
  position: fixed;
  margin: 0;
  font-size: 1.2em;
  top: 0;
  background-color: white;
  border-bottom: 1px solid rgb(230, 230, 230);
  box-shadow: 0 1px 5px rgb(236, 236, 236);
  z-index: 10;

  ul {
    display: flex;
    margin: 0;
    padding: 0.5em;

    li {
      margin: 0 1em;
      list-style-type: none;
    }
  }
}

h1 {
  text-align: center;
  margin: 1em;
}